.heroicon-stroke-0\.7 > path {
  stroke-width: 0.7;
}

.heroicon-stroke-0\.9 > path {
  stroke-width: 0.9;
}

.heroicon-stroke-1 > path {
  stroke-width: 1;
}

.heroicon-stroke-1\.1 > path {
  stroke-width: 1.1;
}

.heroicon-stroke-1\.3 > path {
  stroke-width: 1.3;
}

.heroicon-stroke-1\.5 > path {
  stroke-width: 1.5;
}

.heroicon-stroke-1\.7 > path {
  stroke-width: 1.7;
}
