@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  h1,
  h2,
  h3 {
    @apply text-secondary-dark;
    @apply dark:text-secondary;
  }
  body {
    @apply font-normal;
    @apply bg-secondary;
    @apply text-secondary-dark;
    @apply dark:bg-secondary-darker;
    @apply dark:text-secondary;
  }
  h1 {
    @apply font-semibold;
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
    @apply mb-2;
  }
  h3 {
    @apply text-xl;
    @apply mb-2;
  }
  hr,
  p {
    @apply mt-2;
    @apply mb-2;
  }
  a {
    @apply text-main;
    @apply border-b;
    @apply border-main;
  }
  a:hover {
    @apply text-main-dark;
    @apply border-b-0;
    @apply border-transparent;
  }
}

@layer utilities {
  .gradient-color-yellow-main-blue {
    @apply bg-gradient-to-r;
    @apply from-yellow via-main to-blue;
  }
  .gradient-text {
    @apply bg-clip-text;
    @apply text-transparent;
  }
  .block-item {
    @apply rounded-3xl;
    @apply bg-white;
    @apply dark:bg-secondary-darker;
    @apply dark:border;
    @apply dark:border-secondary-dark;
  }
}
